{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/util.js' %}"></script>
    <title>{% block title %}StrongMind - Pizza Home Page{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
<header>
    <h1>Welcome to The StrongMind Pizza Shop - Employee Access</h1>
</header>

<!-- Top right dropdown for authenticated user -->
<div class="top-right">
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn">{{ user.username }}</button>
            <div class="dropdown-content">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</div>

<div class="base-container">
    <div class="content">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="btn btn-primary">View Menu</a>
            <!-- Only the Pizza Store Owner can access this information -->
            {% if 'Pizza Store Owner' in user.groups.all|stringformat:"s" %}
                |
                <a href="{% url 'available_toppings' %}" class="btn btn-primary">View Available Toppings</a>
            {% endif %}
        </div>
        <h2>About Us</h2>
        <p>All of our Pizzas are only 1 size (fits all) and all come with tasty tomato sauce and
            great mozzarella.</p>
        {% block content %}
            <!-- Page-specific content goes here -->
        {% endblock %}
    </div>
</div>

<footer>
    &copy; 2025 StrongMind Pizza Shop
</footer>
</body>
</html>
