{% extends '_base.html' %}
{% load static %}

{% block title %}Home - StrongMind Pizza Shop{% endblock %}
{% block content %}
    <head>
        <title>Pizza Menu Control</title>
        {% block css %}
            {{ block.super }}
            <link rel="stylesheet" href="{% static 'css/pizza.css' %}">
        {% endblock %}
    </head>
    <h2>Our Pizza Masterpieces</h2>
    <div id="pizza-menu">
        <div class="grid-container" id="grid-container">
            <!-- Pizzas Inserted Here -->
        </div>
        <!-- Add Pizza Modal -->
        <div id="add-pizza-modal" class="modal">
            <div class="modal-content">
                <span class="close-btn"
                      onclick="toggleModal('add-pizza-modal', 'close')">&times;</span>
                <h2 class="modal-title">Add New Pizza</h2>
                <form class="form" action="{% url 'create_new_pizza' %}" id="add-new-pizza-form">
                    <div class="input-group">
                        <label for="pizza-name" class="input-label">Name Your Masterpiece</label>
                        <input type="text" id="pizza-name" name="pizza-name" class="input-field"
                               required>
                    </div>

                    <label for="topping-list">Select Desired Toppings (ctrl + click for multiple)</label><br>
                    <select id="topping-list" name="topping-list" multiple>
                        <!-- Toppings will be populated here by AJAX -->
                    </select>

                    <div class="modal-footer">
                        <button id="add-pizza-modal-btn" class="close-btn">Add Masterpiece</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit Pizza Details Modal -->
        <div id="update-pizza-details-modal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="toggleModal('update-pizza-details-modal', 'close')">&times;</span>
                <h2 class="modal-title">Edit Pizza Details</h2>
                <form class="form" id="update-pizza-details-form">
                    <div class="input-group">
                        <label for="update-pizza-name" class="input-label">Pizza Name</label>
                        <input type="text" id="update-pizza-name" name="update-pizza-name" class="input-field"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="update-pizza-details-btn" class="close-btn">Update Pizza</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit Pizza Toppings Modal -->
        <div id="update-pizza-toppings-modal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="toggleModal('update-pizza-toppings-modal', 'close')">&times;</span>
                <h2 class="modal-title">Edit Pizza Toppings</h2>
                <form class="form" id="update-pizza-toppings-form">
                    <label for="topping-list">Select Toppings</label><br>
                    <select id="update-topping-list" name="topping-list" multiple size="5"></select>
                    <div class="modal-footer">
                        <button type="submit" id="update-pizza-toppings-btn" class="close-btn">
                            Update Toppings
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <button id="add-pizza-btn">Add Pizza</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            fetchPizzas();

            // fetches all available pizzas and displays them within the grid
            function fetchPizzas() {
                $.ajax({
                    url: '/get_all_pizzas/',
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            $('#grid-container').empty();

                            response.pizzas.forEach(function (pizza) {
                                let pizzaItem = $('<div>', {
                                    class: 'grid-item',
                                    id: pizza.pizzaName,
                                    html: `
                                <div class="pizza-card-container">

                                    <div class="pizza-name">${pizza.pizzaName}</div><br>
                                    <div class="topping-title">Toppings:</div>
                                    <ul class="topping-list">
                                        ${pizza.toppings.map(topping => `<li class="topping-item">${topping}</li>`).join('')}
                                    </ul>
                                    <button class="remove-pizza-btn">X</button>
                                    <button class="edit-pizza-details-btn">Edit Pizza Details</button>
                                    <button class="edit-pizza-toppings-btn">Edit Pizza Toppings</button>
                                </div>
                            `
                                });

                                $('#grid-container').append(pizzaItem);
                            });
                        } else {
                            alert("Error fetching pizzas: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error fetching pizzas.');
                    }
                });
            }

            // retrieve all available toppings for any new pizza being added
            $('#add-pizza-btn').click(function () {
                toggleModal('add-pizza-modal', 'open');

                $.ajax({
                    url: '/get_available_toppings/',
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            let toppings = response.toppings;

                            $('#topping-list').empty();

                            toppings.forEach(function (topping) {
                                let option = $('<option>', {
                                    value: topping.topping_name,
                                    text: topping.topping_name
                                });
                                $('#topping-list').append(option);
                            });
                        } else {
                            alert("Error retrieving toppings: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error fetching available toppings.');
                    }
                });
            });

            // handle adding a new pizza retrieving success
            $('#add-new-pizza-form').submit(function (event) {
                event.preventDefault();

                let formData = new FormData(this);

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                    success: function (response) {
                        if (response.success) {
                            fetchPizzas();

                            alert('Pizza item successfully added');
                            toggleModal('add-pizza-modal', 'close');
                        } else {
                            alert('Error adding pizza item: ' + response.error);
                        }
                    },
                    error: function () {
                        alert('Error sending pizza data.');
                    }
                });

                $('#pizza-name').val('');
                $('#topping-list').val([]);
            });


            // Delegated event binding so it will also listen for clicks on newly added divs/remove btns
            $(document).on('click', '.remove-pizza-btn', function () {
                let selectedItem = $(this).parent();
                let pizzaName = selectedItem.find('.pizza-name').text();

                $.ajax({
                    url: '/delete_existing_pizza/',
                    type: 'POST',
                    data: {
                        'pizza_name': pizzaName,
                    },
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                    success: function (response) {
                        if (response.success) {
                            fetchPizzas();
                            alert(response.pizzaName + " has been successfully removed");
                        } else {
                            alert("Error Message: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error removing Topping from list.');
                    }
                });

                $(this).parent().remove();
            });

            // Handle Edit Pizza Details (Name)
            $(document).on('click', '.edit-pizza-details-btn', function () {
                let selectedItem = $(this).parent();
                let pizzaName = selectedItem.find('.pizza-name').text();

                toggleModal('update-pizza-details-modal', 'open');
                $('#update-pizza-name').val(pizzaName);

                $('#update-pizza-details-form').submit(function (event) {
                    event.preventDefault();

                    let updatedName = $('#update-pizza-name').val();

                    if (updatedName === pizzaName) {
                        alert("The name hasn't changed.");
                        return;
                    }

                    $.ajax({
                        url: '/update_pizza_details/',
                        type: 'POST',
                        data: {
                            'original_pizza_name': pizzaName,
                            'new_pizza_name': updatedName,
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchPizzas();

                                // Close the modal after updating
                                toggleModal('update-pizza-details-modal', 'close');
                                alert('Pizza name updated successfully');
                            } else {
                                alert('Error updating pizza details');
                            }
                        },
                        error: function () {
                            alert('Error updating pizza details.');
                        }
                    });
                });
            });

            // Handle Edit Pizza Toppings
            $(document).on('click', '.edit-pizza-toppings-btn', function () {
                let selectedItem = $(this).parent();

                let pizzaName = selectedItem.find('.pizza-name').text();
                let toppings = [];

                selectedItem.find('.topping-item').each(function () {
                    toppings.push($(this).text());
                });

                toggleModal('update-pizza-toppings-modal', 'open');

                $('#update-topping-list').empty();

                $.ajax({
                    url: '/get_available_toppings/',
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            let availableToppings = response.toppings;

                            availableToppings.forEach(function (topping) {
                                let option = $('<option>', {
                                    value: topping.topping_name,
                                    text: topping.topping_name,
                                    selected: toppings.includes(topping.topping_name)
                                });
                                $('#update-topping-list').append(option);
                            });
                        } else {
                            alert("Error retrieving available toppings: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error fetching available toppings.');
                    }
                });

                // Handle form submission for updating toppings
                $('#update-pizza-toppings-form').submit(function (event) {
                    event.preventDefault();

                    let selectedToppings = $('#update-topping-list').val();

                    $.ajax({
                        url: '/update_pizza_toppings/',
                        type: 'POST',
                        data: {
                            'pizza_name': pizzaName,
                            'topping_list': JSON.stringify(selectedToppings),
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchPizzas();

                                toggleModal('update-pizza-toppings-modal', 'close');
                                alert('Pizza toppings updated successfully');
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error updating pizza toppings.');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
