{% extends '_base.html' %}
{% load static %}

{% block title %}Home - StrongMind Pizza Shop{% endblock %}
{% block content %}
    <head>
        <title>Available Toppings Control</title>
        {% block css %}
            {{ block.super }}
            <link rel="stylesheet" href="{% static 'css/toppings.css' %}">
        {% endblock %}
    </head>
    <h2>Available Toppings Control</h2>
    <div id="view">
        <div id="toppings-control">
            <div class="container">
                <!-- Available Toppings List -->
                <div class="list-section">
                    <h5>Enabled Toppings</h5>
                    <div class="list-container" id="enabled-list">

                    </div>
                </div>
                <!-- Arrows -->
                <div>
                    <button class="arrow-btn" id="move-right">→</button>
                    <br>
                    <button class="arrow-btn" id="move-left">←</button>
                </div>


                <!-- Unavailable Toppings List -->
                <div class="list-section">
                    <h5>Disabled Toppings</h5>
                    <div class="list-container" id="disabled-list">

                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="button" id="remove-topping-btn">Delete Selected Topping</button>
            <button type="button" id="add-topping-btn">Add New Topping</button>
            <button type="button" id="update-topping-btn">Update Selected Topping</button>
        </div>
    </div>
    <div id="add-item-modal" class="modal">
        <div class="modal-content">
                <span class="close-btn"
                      onclick="toggleModal('add-item-modal', 'close')">&times;</span>
            <h2 class="modal-title">Add New Topping</h2>
            <form class="form" action="{% url 'add_new_topping' %}" id="add-new-topping-form">
                <div class="input-group">
                    <label for="new-topping-name" class="input-label">Topping Name</label>
                    <input type="text" id="new-topping-name" name="new-topping-name" class="input-field" required>
                </div>

                <div class="checkbox-group">
                    <label for="available-checkbox" class="checkbox-label">In Stock?</label>
                    <input type="checkbox" id="available-checkbox" name="available-checkbox" class="checkbox-field">
                </div>

                <div class="modal-footer">
                    <button onclick="toggleModal('add-item-modal')">Add Topping</button>
                </div>
            </form>
        </div>
    </div>
    <div id="update-topping-modal" class="modal">
        <div class="modal-content">
                <span class="close-btn"
                      onclick="toggleModal('update-topping-modal', 'close')">&times;</span>
            <h2 class="modal-title">Update Existing Topping</h2>
            <form class="form" action="{% url 'update_existing_topping' %}" id="update-topping-form">
                <div class="input-group">
                    <label for="updated-topping-name" class="input-label">Change Topping Name:</label>
                    <input type="text" id="updated-topping-name" name="updated-topping-name" class="input-field"
                           required>
                </div>

                <div class="checkbox-group">
                    <label for="updated-available-checkbox" class="checkbox-label">Still In Stock?</label>
                    <input type="checkbox" id="updated-available-checkbox" name="updated-available-checkbox"
                           class="checkbox-field">
                </div>

                <div class="modal-footer">
                    <button type="submit" onclick="toggleModal('update-topping-modal')">Update
                        Topping
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let selectedItem = null;

            fetchToppings()

            $(document).on('click', '#enabled-list .list-item, #disabled-list .list-item', function (event) {
                event.stopPropagation();

                if (selectedItem && selectedItem.is(this)) {
                    selectedItem.removeClass('selected');
                    selectedItem = null;
                } else {

                    if (selectedItem) {
                        selectedItem.removeClass('selected');
                    }

                    selectedItem = $(this);
                    selectedItem.addClass('selected');
                }
            });

            // Re-fetch toppings after any updates (add, move, delete)
            function fetchToppings() {
                $.ajax({
                    url: '/get_available_toppings/',
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            $('#enabled-list').empty();
                            
                            response.toppings.forEach(function (topping) {
                                let toppingItem = $('<div>', {
                                    class: 'list-item',
                                    text: topping.topping_name
                                }).data('topping-name', topping.topping_name);

                                $('#enabled-list').append(toppingItem);
                            });
                        } else {
                            alert("Error loading toppings: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error fetching available toppings.');
                    }
                });

                $.ajax({
                    url: '/get_unavailable_toppings/',
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            $('#disabled-list').empty();
                            
                            response.toppings.forEach(function (topping) {
                                let toppingItem = $('<div>', {
                                    class: 'list-item',
                                    text: topping.topping_name
                                }).data('topping-name', topping.topping_name);

                                $('#disabled-list').append(toppingItem);
                            });
                        } else {
                            alert("Error loading toppings: " + response.error);
                        }
                    },
                    error: function () {
                        alert('Error fetching available toppings.');
                    }
                });
            }

            // Handle moving selected item to the disabled list
            $('#move-right').click(function () {
                if (selectedItem && selectedItem.parent().attr('id') === 'enabled-list') {
                    let toppingId = selectedItem.data('topping-name');

                    $.ajax({
                        url: '/update_topping_status/',
                        type: 'POST',
                        data: {
                            'topping_name': toppingId,
                            'available': false,
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchToppings()
                                selectedItem.removeClass('selected');
                                selectedItem = null;
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error updating topping availability.');
                        }
                    });
                }
            });

            // Handle moving selected item to the enabled list
            $('#move-left').click(function () {
                if (selectedItem && selectedItem.parent().attr('id') === 'disabled-list') {
                    let toppingId = selectedItem.data('topping-name');
                    console.log("SELECTED ITEM: ", toppingId);

                    $.ajax({
                        url: '/update_topping_status/',
                        type: 'POST',
                        data: {
                            'topping_name': toppingId,
                            'available': true,
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchToppings()
                                selectedItem.removeClass('selected');
                                selectedItem = null;
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error updating topping availability.');
                        }
                    });
                }
            });

            // Delete button logic
            $('#remove-topping-btn').click(function () {
                if (selectedItem) {
                    let toppingId = selectedItem.data('topping-name');
                    console.log("Selected topping to delete: ", toppingId);

                    $.ajax({
                        url: '/delete_existing_topping/',
                        type: 'POST',
                        data: {
                            'topping_name': toppingId,
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchToppings()
                                selectedItem = null;
                                alert(response.toppingName + " has been successfully removed");
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error removing Topping from list.');
                        }
                    });
                } else {
                    alert('No item selected for deletion.');
                }
            });

            $('#add-topping-btn').click(function () {
                toggleModal('add-item-modal', 'open');
            });

            $('#add-new-topping-form').submit(function (event) {
                event.preventDefault();

                let toppingName = $('#new-topping-name').val();
                let isAvailable = $('#available-checkbox').prop('checked') ? 'True' : 'False';

                if (toppingName) {
                    $.ajax({
                        url: '/add_new_topping/',
                        type: 'POST',
                        data: {
                            'topping_name': toppingName,
                            'available': isAvailable
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchToppings()

                                toggleModal('add-item-modal', 'close');
                                alert(response.toppingName + " has been successfully added");
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error adding topping to the list.');
                        }
                    });
                }

                $('#new-topping-name').val('');
                $('#available-checkbox').prop('checked', false);
            });

            $('#update-topping-btn').click(function () {
                if (!selectedItem) {
                    alert('Please select an item first.');
                    return;
                }

                let toppingName = selectedItem.data('topping-name');
                let isAvailable = selectedItem.parent().attr('id') === 'enabled-list';

                $('#updated-topping-name').val(toppingName);
                $('#updated-available-checkbox').prop('checked', isAvailable);

                toggleModal('update-topping-modal', 'open');
            });

            $('#update-topping-form').submit(function (event) {
                event.preventDefault();

                let toppingName = $('#updated-topping-name').val();
                let isAvailable = $('#updated-available-checkbox').prop('checked') ? 'True' : 'False';
                const OriginalName = selectedItem.data('topping-name');

                if (toppingName && selectedItem) {
                    selectedItem.text(toppingName);
                    selectedItem.data('topping-name', toppingName);

                    $.ajax({
                        url: '/update_existing_topping/',
                        type: 'POST',
                        data: {
                            'original_topping_name': OriginalName,
                            'new_topping_name': toppingName,
                            'new_availability': isAvailable,
                        },
                        headers: {
                            'X-CSRFToken': getCSRFToken(),
                        },
                        success: function (response) {
                            if (response.success) {
                                fetchToppings()

                                selectedItem.removeClass('selected');
                                selectedItem = null;

                                toggleModal('update-topping-modal', 'close');
                                alert(toppingName + " has been successfully updated.");
                            } else {
                                alert("Error Message: " + response.error);
                            }
                        },
                        error: function () {
                            alert('Error updating Topping in the list.');
                        }
                    });
                }

                $('#updated-topping-name').val('');
                $('#updated-available-checkbox').prop('checked', false);
            });

        });
    </script>
{% endblock %}
